<h1>えみり</h1>
<div class="row">
  <div class="col-md-2">
    <p>
      中学生　バドミントン部
    </p>
    <p>
      <h3>
        好きなこと    
      </h3>
      <ul>
        <li>落書き</li>
        <li> 動画をみること</li>
        <li> 音楽を聴く</li> 
        <li>ゲームをする</li>
        <li>寝る</li>   
      </ul>
    </p>
  </div>
  <div class="col-md-4">
    <%= image_tag("badminton.png", class: 'img-responsive') %>
  </div>
  <div class="col-md-6">
    <%= image_tag("cat.jpg", class: 'img-responsive') %>
  </div>
</div>

